<div class="w-full h-full text-neutral-400 bg-black">

  <div
    class="z-50 fixed top-0 left-0 flex items-center w-full h-16 px-4 bg-black border-b border-neutral-800"
  >
    <h1 class="text-2xl text-neutral-100 font-black italic">TRAKN</h1>
  </div>

  <div
    class="fixed w-full top-16 bottom-0 pb-72 overflow-y-auto"
  >
    <div class="grid grid-cols-1 gap-y-4">
      <div class="relative w-full p-4">
          <span class="text-xs text-neutral-700">[Previous Entry, Newest on top]</span>
          <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ut luctus diam. Nunc imperdiet nulla nec bibendum mattis. Nam pulvinar quis urna a fringilla. Sed viverra velit ipsum, eu porttitor nisi tempor euismod. Nunc at consequat tortor. Nulla sit amet convallis orci.</p>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis id odio efficitur odio semper tempus a eget magna. Nam hendrerit fermentum placerat. Aenean ornare odio a tellus suscipit lacinia. Sed arcu neque, vestibulum malesuada ipsum sit amet, dictum euismod orci. Duis sit amet vulputate eros.</p>
      </div>

      <div class="relative w-full p-4">
          <span class="text-xs text-neutral-700">[Previous Entry, Newest on top]</span>
          <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ut luctus diam. Nunc imperdiet nulla nec bibendum mattis. Nam pulvinar quis urna a fringilla. Sed viverra velit ipsum, eu porttitor nisi tempor euismod. Nunc at consequat tortor. Nulla sit amet convallis orci.</p>
      </div>

      <div class="relative w-full p-4">
          <span class="text-xs text-neutral-700">[Previous Entry, Newest on top]</span>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis id odio efficitur odio semper tempus a eget magna. Nam hendrerit fermentum placerat. Aenean ornare odio a tellus suscipit lacinia. Sed arcu neque, vestibulum malesuada ipsum sit amet, dictum euismod orci. Duis sit amet vulputate eros.</p>
      </div>

      <div class="relative w-full p-4">
          <span class="text-xs text-neutral-700">[Previous Entry, Newest on top]</span>
          <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ut luctus diam. Nunc imperdiet nulla nec bibendum mattis. Nam pulvinar quis urna a fringilla. Sed viverra velit ipsum, eu porttitor nisi tempor euismod. Nunc at consequat tortor. Nulla sit amet convallis orci.</p>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis id odio efficitur odio semper tempus a eget magna. Nam hendrerit fermentum placerat. Aenean ornare odio a tellus suscipit lacinia. Sed arcu neque, vestibulum malesuada ipsum sit amet, dictum euismod orci. Duis sit amet vulputate eros.</p>
      </div>

      <div class="relative w-full p-4">
          <span class="text-xs text-neutral-700">[Previous Entry, Newest on top]</span>
          <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ut luctus diam. Nunc imperdiet nulla nec bibendum mattis. Nam pulvinar quis urna a fringilla. Sed viverra velit ipsum, eu porttitor nisi tempor euismod. Nunc at consequat tortor. Nulla sit amet convallis orci.</p>
      </div>

      <div class="relative w-full p-4">
          <span class="text-xs text-neutral-700">[Previous Entry, Newest on top]</span>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis id odio efficitur odio semper tempus a eget magna. Nam hendrerit fermentum placerat. Aenean ornare odio a tellus suscipit lacinia. Sed arcu neque, vestibulum malesuada ipsum sit amet, dictum euismod orci. Duis sit amet vulputate eros.</p>
      </div>
    </div>
  </div>

  <div
    class="fixed inset-0 top-auto flex flex-col h-auto p-2 pb-0 bg-black border-t border-neutral-800"
  >
    <textarea
      class="appearance-none block w-full h-52 p-2 text-white resize-none rounded bg-neutral-900"
      placeholder="Write something..."
    ></textarea>

    <div
      class="flex flex-none flex-nowrap items-center justify-between w-full h-14 py-2 gap-x-2"
    >
        <div class="flex flex-nowrap flex-1 items-center gap-x-2">
            <select class="appearance-none w-full h-10 p-2 bg-neutral-900 text-neutral-100">
                <option>Note</option>
                <option>Reminder</option>
            </select>
        </div>
        <div class="flex flex-nowrap items-center gap-x-2">
            <button
                class="flex items-center justify-center flex-nowrap gap-x-1 w-auto min-w-10 h-10 px-2 rounded leading-tight text-neutral-100 bg-neutral-900"
            >
                <span class="font-icon text-xl">&#xF0E5;</span>
            </button>
            <button
                class="flex items-center justify-center flex-nowrap gap-x-2 w-auto min-w-10 h-10 px-2 rounded leading-tight text-neutral-900 bg-neutral-100"
            >
                <span class="font-icon text-xl">&#xEA10;</span>
                <span>Add Block</span>
            </button>
        </div>
    </div>
  </div>
</div>
